{% if vagas %}
    {% for vaga in vagas %}
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">{{ vaga.descricao }}</h5>
            <p class="mb-1"><strong>Faixa Salarial:</strong> {{ vaga.get_faixaSalarial_display }}</p>
            <p class="mb-1"><strong>Requisitos:</strong> {{ vaga.requisitos|linebreaksbr }}</p>
            <p class="mb-1"><strong>Escolaridade:</strong> {{ vaga.get_escolaridade_display }}</p>
            <p class="mb-1"><strong>Modalidade:</strong> {{ vaga.get_modalidade_display }}</p>
            <p class="mb-1"><strong>Inclui PCD?</strong> {{ vaga.indicadorPCD|yesno:"Sim,Não" }}</p>
            <small>Data de Publicação: {{ vaga.dataPublicacao|date:"d/m/Y" }}</small>
        </a>
    {% endfor %}
{% else %}
    <p class="text-center">Não há vagas disponíveis no momento.</p>
{% endif %}
