<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
    {% include 'base.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success">
                        <p>{{ message }}</p>
                    </div>
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger">
                        <p>{{ message }}</p>
                    </div>
                {% elif message.tags == "warning" %}
                    <div class="alert alert-warning">
                        <p>{{ message }}</p>
                    </div>
                {% elif message.tags == "info" %}
                    <div class="alert alert-info">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="textTitle mb-0">Vagas disponíveis</h2>
            <div>
                {% if superUser == True %}
                    <button type="button" class="btn btn-primary btn-custom me-2 mt-1" data-bs-toggle="modal"
                        data-bs-target="#modalCadastroVaga">
                        + Cadastrar vaga
                    </button>
                {% endif %}
                <button type="button" class="btn btn-outline-primary btn-custom mt-1" data-bs-toggle="modal"
                    data-bs-target="#modalFiltroVagas">
                    Filtrar
                </button>
            </div>
        </div>

        {% include 'vagas/filtroVagas.html' %}

        <!-- Lista de Vagas -->
        <div class="card p-4">
            {% include 'vagas/listaVagas.html' %}
        </div>

        {% include 'vagas/cadastroVagaForm.html' %}

    </div>

    <script>

        window.onload = function () {
            // Obtém a URL base (sem os parâmetros de consulta)
            const urlBase = window.location.href.split('?')[0];

            // Atualiza o histórico do navegador, removendo os parâmetros de consulta
            window.history.replaceState(null, '', urlBase);
        };
        
        $(document).ready(function () {
            
            // Remover mensagens automaticamente após 3 segundos
            setTimeout(() => $(".alert").fadeOut("fast"), 3000);

            $('.pretensaoSalarial').mask('###.###.##0,00', { reverse: true });

            // Função para validar o formulário
            function validarFormulario() {
                const descricao = $('#descricao').val();
                if (descricao.length < 5) {
                    alert('A descrição precisa ter pelo menos 5 caracteres.');
                    return false;
                }
                return true;
            }
            // Manipular envio de formulários
            $('form').not('#formFiltroVagas').on('submit', function (e) {
                e.preventDefault(); // Impede envio imediato do formulário

                // Obtém todos os campos do formulário de filtros
                const camposFiltros = $('#formFiltroVagas').serializeArray().filter(campo => campo.name !== 'csrfmiddlewaretoken');

                // Adiciona os campos do formFiltroVagas ao formulário atual
                camposFiltros.forEach(campo => {
                    console.log(campo.name)
                    console.log(campo.value)
                    $('<input>')
                        .attr('type', 'hidden') // Oculto para não aparecer na interface
                        .attr('name', campo.name)
                        .val(campo.value)
                        .appendTo($(this));
                });

                // Envia o formulário com os campos adicionais
                this.submit();
            });
        });
    </script>
</body>

</html>
