<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
    {% include 'base.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success">
                        <p>{{ message }}</p>
                    </div>
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger">
                        <p>{{ message }}</p>
                    </div>
                {% elif message.tags == "warning" %}
                    <div class="alert alert-warning">
                        <p>{{ message }}</p>
                    </div>
                {% elif message.tags == "info" %}
                    <div class="alert alert-info">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="textTitle mb-0">Vagas disponíveis</h2>
            <div>
                {% if superUser == True %}
                    <button type="button" class="btn btn-primary btn-custom me-2 mt-1" data-bs-toggle="modal"
                        data-bs-target="#modalCadastroVaga">
                        + Cadastrar vaga
                    </button>
                {% endif %}
                <button type="button" class="btn btn-outline-primary btn-custom mt-1" data-bs-toggle="modal"
                    data-bs-target="#modalFiltroVagas">
                    Filtrar
                </button>
            </div>
        </div>

        {% include 'vagas/filtroVagas.html' %}

        <!-- Lista de Vagas -->
        <div class="card p-4">
            {% include 'vagas/listaVagas.html' %}
        </div>

        {% include 'vagas/cadastroVagaForm.html' %}

    </div>

    <script>
        $(document).ready(function () {

            // Remover mensagens automaticamente após 3 segundos
            setTimeout(() => $(".alert").fadeOut("fast"), 3000);

            $('.pretensaoSalarial').mask('###.###.##0,00', { reverse: true });

            // Função para validar o formulário
            function validarFormulario() {
                const descricao = $('#descricao').val();
                if (descricao.length < 5) {
                    alert('A descrição precisa ter pelo menos 5 caracteres.');
                    return false;
                }
                return true;
            }
            $('#formFiltroVagas').on('submit', function (event) {
                event.preventDefault();

                let form = $(this);
                let url = form.attr('action');
                let formData = form.serialize();

                $.ajax({
                    url: url,
                    method: 'GET',
                    data: formData,
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    success: function (response) {
                        $('#vagas-lista').html(response.vagas);
                        $('#modalFiltroVagas').modal('hide');
                    },
                    error: function (error) {
                        const errorMessage = error.responseJSON?.erro || 'Não foi possível filtrar as vagas!';
                        $('#message')
                            .text(errorMessage)
                            .removeClass('alert-success')
                            .addClass('alert-danger')
                            .fadeIn();
                        setTimeout(() => $('#message').fadeOut(), 3000);
                    }
                });
            });
            // Para todos os formulários, exceto o de filtros
            $('form').not('#formFiltroVagas').submit(function(e) {
                e.preventDefault(); // Impede o envio imediato do formulário

                // Obtém os campos do formulário secundário
                var camposSecundarios = $(this).find('input');

                // Adiciona os campos do formulário secundário ao formulário principal
                camposSecundarios.each(function() {
                    // Cria um novo campo de input com os valores do formulário secundário
                    var novoCampo = $('<input>')
                        .attr('type', $(this).attr('type'))
                        .attr('name', $(this).attr('name'))
                        .val($(this).val());

                    // Adiciona o campo ao formulário principal
                    $(this).closest('form').append(novoCampo);
                });

                // Agora envia o formulário com os campos adicionais
                $(this).unbind('submit').submit();
            });

        });
    </script>
</body>

</html>
