body {
    background: linear-gradient(45deg, #439A97, #62B6B7, #97DECE, #CBEDD5); /* Gradiente inicial */
    background-size: 300% 300%; /* Permite que o gradiente se mova */
    animation: colorAnimation 20s ease infinite; /* Animação com timing linear */
    height: 100%;
    font-family: 'Poppins', Arial, sans-serif;
    color: #333;
}

@keyframes colorAnimation {
    0% {
        background-position: 0% 50%; /* Posição inicial */
    }
    50% {
        background-position: 100% 50%; /* Movimento para a direita */
    }
    100% {
        background-position: 0% 50%; /* Retorna ao início */
    }
}
.chart-container {
    margin: 20px auto !important;
    max-width: 800px !important;
    background: #fff !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    padding: 20px !important;
}

  .chart-title {
    text-align: center !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
  }

  .chart {
    width: 100% !important;
    height: 400px !important;
  }

.navbar {
    background: #fbffff !important;
}
/* Cor personalizada para o botão de cadastro */
.btn-custom {
    background-color: #FFA500; /* Cor laranja */
    color: white;
    border:none !important
}

.btn-custom:hover {
    background-color: #FF8C00; /* Cor mais escura quando passar o mouse */
}


/* Estilo para o campo de filtro */
#filtroVaga {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

#vagas-lista a {
    background-color: #fbffff;
}

/* Configurando uma nova fonte */
body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #333;
}

h2.textTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #064e3b; /* Verde escuro */
}

/* Botões */
button.btn-primary {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

/* Estilo base do card */
.card {
    background: #fbffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 70vh; /* Define a altura máxima com rolagem */
    padding: 15px;
    scroll-behavior: smooth; /* Suaviza o scroll ao usar botões ou teclas */

}

/* Barra de rolagem personalizada para navegadores Webkit */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    scrollbar-width: thin; /* Para navegadores que suportam */
    scrollbar-color: #97DECE #EBF4F5; /* Cor do thumb e do track */
    cursor:pointer
}

::-webkit-scrollbar-track {
    background: #EBF4F5; /* Cor do fundo do track */
    border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb {
    background: #97DECE; /* Cor do thumb */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid #EBF4F5; /* Espaço entre o thumb e o track */
}

::-webkit-scrollbar-thumb:hover {
    background: #62B6B7; /* Cor do thumb ao passar o mouse */
}

/* Suaviza a transição ao rolar */
.card {
    scroll-behavior: smooth; /* Suaviza o scroll ao usar botões ou teclas */
}


/* Informações da vaga */
.card h5 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #064e3b;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}


/* Gradiente no fundo */
.container {
    background: #ebf4f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.alert-container {
    position: fixed;
    top: 0; /* Fixado no topo */
    left: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    z-index: 9999; /* Fica acima de outros elementos */
    text-align: center; /* Centraliza o texto */
    pointer-events: none; /* Evita interferir na interação com os elementos abaixo */
}
.alert {
    display: inline-block;
    margin: 0 auto;
    pointer-events: auto; /* Permite interações apenas na mensagem */
    padding: 15px;
    margin-top: 10px; /* Remove margem adicional */
    font-size: 16px;
    font-weight: bold;
    border-radius: 0; /* Remove bordas arredondadas */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destaque */
    animation: slideDown 0.5s ease-out; /* Animação ao exibir */
}

/* Animação de entrada */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
